<div class="content">
  <aside>Test task #1</aside>

  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="left">
        <%= form_for :task, remote: true, url: {action: 'create_task'}, html: {class: 'pure-form'} do |f| %>
            <fieldset>
              <%= f.text_field :name %>
              <%= f.submit 'Create', {class: 'pure-button pure-button-primary'} %>
            </fieldset>
        <% end %>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="right">
        <p id="count"><%= @tasks.length %> tasks</p>

        <div id="right-content">
          <% @tasks.each do |task| %>
              <div><%= task.name %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

